﻿body 
{
    width : 100%;
    
}

.display 
{
    width: 100%;
	height: 180px;	
	display: block;
	background-color: #000;
	color:#FFF;
	font-family : "Courier New";
	font-size : 45px;
}

.display b
{
    position : relative;
    top:50%;
    left : 35%;
}

#brand{margin:0 auto;text-align:center}
#brand img{width:25%;
	height:auto}
	
.blackcolor
{
    color:Black;
    
}