﻿<div>
                <ul>
                    <li>Language</li>
                     <ul><li ng-repeat="lang in TitleDetails.Languages">{{lang.TitleLanguage}}</li></ul>
                </ul>
                <ul>
                    <li>Genre</li>
                     <ul><li ng-repeat="genre in TitleDetails.Genere">{{genre.TitleGenre}}</li></ul>
                </ul>
                <ul>
                    <li>StoryLine</li>
     
                         <table>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                            <tr ng-repeat="stryline in TitleDetails.StoryLine">
                                <td>{{stryline.storyLineType}}</td>
                                <td>{{stryline.storyLineDescription}}</td>
                            </tr>
                         </table>        
                </ul>
                <ul>
                    <li>Award</li>
                       <table>
                            <tr>
                                <th>Name</th>
                                <th>Year Won</th>
                                <th>Company</th>
                            </tr>
                            <tr ng-repeat="awrd in TitleDetails.Award">
                                <td>{{awrd.awardName}}</td>
                                <td>{{awrd.yearWon}}</td>
                                <td>{{awrd.awardCompany}}</td>
                            </tr>
                         </table>
                </ul>
                <ul>
                    <li>Participant</li>
                      <table>
                            <tr>
                                <th>Name</th>
                                <th>RoleName</th>
                
                            </tr>
                            <tr ng-repeat="awrd in TitleDetails.Participant">
                                <td>{{awrd.participantName}}</td>
                                <td>{{awrd.participantRoleName}}</td>
                
                            </tr>
                         </table>
                </ul>
</div>