﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tech Challenge</title>
  <link rel="stylesheet" href="Styles/Titles.css">  
  
    <link href="../../Styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/font-awesome.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular.min.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-resource.js" type="text/javascript"></script>
    <script src="../../Scripts/ui-bootstrap-tpls-0.11.2.js" type="text/javascript"></script>
    <script src="../../angular/app.js" type="text/javascript"></script>

       
        <script src="../../angular/controllers/searchcontroller.js" type="text/javascript"></script> 
        <script src="../../angular/services/searchService.js" type="text/javascript"></script>
        <script src="../../angular/services/webapiService.js" type="text/javascript"></script>
        <script src="../../angular/directives/autocompleteDirective.js" type="text/javascript"></script>
    
</head>
<body ng-app="titleSearch">
        <section>       
                 <header class="display">
                 <b>Title Dictionary</b>
                </header>
                <article> 
                    <div> 
                        <div ng-controller="searchcontroller">
                            <div style="position:relative;margin-top:50px;left:40%;">
                            <div style="float:left;">
                               <label for="titsearch" style="top:5px;">Title</label>
                            </div>
                            <div style="float:left">
                               <input id="titsearch" type="text" ng-model="titleautoSelected"  placeholder="Enter a Title Name" typeahead="Name.TitleName as Name.TitleName for Name in getSearchList($viewValue,true)" typeahead-loading="searchListloading" class="form-control" style="width:220px;position:relative;top:0px!important;left:30px;">                                    
                               </input>
                               <i ng-show="searchListloading" class="glyphicon glyphicon-refresh"></i>
                            </div>
                            <div style="float:left">
                               <i ng-click="getSearchList(titleautoSelected,false)" class="fa fa-search"  style="cursor:pointer;position:relative;left:30px;top:5px;"></i>                               
                             </div>                               
                           </div>
                           <accordion ng-show="autocompletediv" close-others="true" style="position:relative;top:50px;">
                                   <accordion-group is-open="status.open">
                                        <accordion-heading>
                                           <span ng-click="getTitledetails(titleautoSelected)">{{titleautoSelected}}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </accordion-heading>
                                        <div ng-include="'angular/templates/TitleDetails.htm'"></div>
                                    </accordion-group>
                            </accordion> 
                            
                            <accordion ng-show="!autocompletediv" close-others="true">
                                <accordion-group is-open="status.open" ng-repeat="titles in titlematches">
                                    <accordion-heading>
                                        <span ng-click="getTitledetailsById(titles.TitleId)">{{titles.TitleName}}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                  <div ng-include="'angular/templates/TitleDetails.htm'"></div>
                                </accordion-group>                                   
                            </accordion>                       
                        </div>                 
       
                   </div>               

                </article>
        </section>


</body>
</html>

